html {
  position: relative;
  min-height: 100%;
}

body {
  background: #813631;
  margin-bottom: 65px;
}

.jumbotron-custom {
  background-image: url("../images/simon-launay-409361-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
}

.display-4,
.lead,
#current-time,
.train-table,
.add-train,
.table {
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #FBFBFB;
}

.display-4 {
  text-shadow: 2px 2px #0C1C2C;
}

.lead {
  font-size: 32px;
  background-color: rgba(251, 251, 251, 0.2);
}

#current-time {
  margin: 0px 0px 0px 10px;
}

.train-table {
  background-color: #0C1C2C;
}

.add-train {
  background-color: #0C1C2C;
}

.btn-custom {
  background-color: #813631;
  border: 2px solid #0C1C2C;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  line-height: 55px;
  width: 100%;
  background-color: #0C1C2C;
  color: #FBFBFB;
  text-align: center;
  font-size: 12px;
  border-top: 5px solid #FBFBFB;
  font-family: "Carrois Gothic SC", monospace;
}